@media (min-width: 768px) {
  .interletrado {
    letter-spacing: 0.5em;
  }
}

@media (min-width: 768px) {
  .column-reverse {
    flex-direction: row;
  }
}

@media (min-width: 768px) {
  .ocultar {
    display: block;
  }
}

@media (min-width: 768px) {
  .titulo-inicio::before {
    content: "";
    display: block;
    width: 120px;
    height: 2px;
    background: $color-negro;
    position: absolute;
    left: 230px;
    top: 50%;
  }

  .titulo-inicio::after {
    content: "";
    display: block;
    width: 120px;
    height: 2px;
    background: $color-negro;
    position: absolute;
    right: 230px;
    top: 50%;
  }
}

@media (max-width: 767px) {
  .primer-articulo {
    margin-bottom: 20px;
  }
}

@media (min-width: 768px) {
  .contenedor-articulos {
    flex-direction: row;
  }
}

@media (min-width: 768px) {
  .iconos-footer {
    width: 90vw;
  }
}

@media (min-width: 768px) {
  .bloque-naranja {
    flex-direction: row;
    margin-top: 100px;
    height: 60vh;
  }

  .imagen-sobre-mi {
    height: 400px;
    width: 400px;
  }

  .titulo-sobre-mi {
    margin-left: 20px;

    h1 {
      font-size: 60px;
    }

    p {
      font-size: 30px;
    }
  }

  .contenedor-sobre-mi {
    div h2 {
      position: absolute;
      font-size: 30px;
      top: 40px;
      text-transform: uppercase;
    }

    div p {
      margin-top: 130px;
      padding-left: 15px;
    }
  }
}

@media (max-width: 768px) {
  .titulo-sobre-mi {
    align-items: center;
  }
}

@media (max-width: 768px) {
  nav {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
    z-index: 10;
    background-color: $color-blanco;
    transition: all 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  nav ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 768px) {
  .logo {
    width: 80px;
  }

  img {
    width: 100%;
  }

  .barra-navegacion {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    @include flex(row, space-evenly, center);
    height: auto;
    background-color: $color-blanco;
  }
  .nav-opacidad-40 {
    background-color: #ffffffa8;
  }

  .nav-opacidad-75 {
    background-color: #ffffffbf;
  }
}

@media (max-width: 768px) {
  .header__titulo {
    font-size: 20px;
    text-align: center;
    line-height: 3rem;
  }

  .uppercase {
    text-transform: uppercase;
  }
}

@media (min-width: 768px) {
  .br__titulo {
    display: none;
  }
}

@media (min-width: 769px) {
  .menu-hamburguesa {
    display: none;
  }
}

@media (min-width: 769px) {
  .nav-links {
    justify-content: space-between;
    gap: 1.5em;
    flex-direction: row;
  }
}
