// COLORES

$color-blanco: #ffffff;
$color-negro: #000;
$color-primario: #f2f2f4;
$color-secundario: #ffe673;
$color-terciario: #ffbf69;
$color-cuaternario: #8ecae6;

// FUENTE PRINCIPAL

$fuente-primaria: "Josefin Sans", sans-serif;
$fuente-secundaria: "Josefin Slab", serif;
