// COLORES

$color-blanco: #ffffff;
$color-negro: #000;
$color-primario: #f2f2f4;
$color-secundario: #ffe673;
$color-terciario: #fdd5356e;
$color-cuaternario: #76b6cd;
$color-contraste: #ffc041;

// FUENTE PRINCIPAL

$fuente-primaria: "Josefin Sans", sans-serif;
$fuente-secundaria: "Josefin Slab", serif;
