header {
  height: 90vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

@media (max-width: 768px) {
  nav.activo {
    left: 0;
  }

  .menu-hamburguesa {
    z-index: 200;
    width: 40px;
    height: 40px;
    border: none;
    display: flex;
    background: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .menu-hamburguesa span {
    width: 35px;
    height: 4px;
    margin-bottom: 6px;
    position: relative;
    background: $color-negro;
    border-radius: 3px;
    transform-origin: 4px 0px;
    transition: all 0.2s linear;
  }

  .menu-hamburguesa.activo span {
    opacity: 1;
    transform: rotate(45deg) translate(0px, -2px);
  }

  .menu-hamburguesa.activo span:nth-child(2) {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .menu-hamburguesa.activo span:nth-child(3) {
    display: none;
  }
}

.barra-navegacion {
  @include flex(row, space-evenly, center);
  margin: 0 auto;
  padding: 25px 0;
  background-color: #fffffff2;
  gap: 1rem;

  .logo {
    height: 100px;
    width: 100px;
  }
}

.nav-links {
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  list-style-type: none;
  @include flex(column, center, center);
  gap: 20px;

  li {
    &::after {
      content: "";
      display: block;
      background: var(--negro);
      height: 4px;
      max-width: 40px;
      border-radius: 10px;
      width: 0%;
      margin: auto;
      margin-top: 5px;
      transition: all 0.7s ease;
    }

    &:hover::after {
      width: 100%;
      background: $color-secundario;
    }
    a {
      text-decoration: none;
      color: #000;
      position: relative;
      padding: 10px;
      text-align: center;
      transition: color 0.3s ease-in-out;

      &:hover {
        color: $color-secundario;
      }
    }
  }
}

.nav-opacidad-40 {
  background-color: #ffffff66;
}

.nav-opacidad-75 {
  background-color: #ffffffbf;
}

.header-inicio {
  background: linear-gradient(0deg, #fff, transparent 30%),
    url("../imagenes/foto-inicio.jpg") no-repeat center center / cover;
}

.header-lafl {
  background-image: url("../imagenes/LAFL/lafl-fondo.jpg");
  background-position: bottom;
}

.header-kqft {
  background-image: url("../imagenes/KQFT/kqft-fondo.jpg");
}

.header-8 {
  height: 8vh;
}

.header__titulo {
  font-family: $fuente-secundaria;
  font-size: 40px;
  color: $color-blanco;
  @include flex(row, center, center);
  animation: opacityOnLoad 3s forwards;
}

.brightness {
  height: inherit;
  animation: brightnessOnLoad 3s forwards;
}
