header {
  height: 90vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header-inicio {
  background: linear-gradient(0deg, #fff, transparent 30%),
    url("../imagenes/foto-inicio.jpg") no-repeat center center / cover;
}

.header-lafl {
  background-image: url("../imagenes/LAFL/lafl-fondo.jpg");
}

.header-kqft {
  background-image: url("../imagenes/KQFT/kqft-fondo.jpg");
}

.header-8 {
  height: 8vh;
}

.nav-links {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;

  li a {
    text-decoration: none;
    color: #000;
    position: relative;
    text-align: center;
    transition: color 0.3s ease-in-out;

    &:hover {
      color: $color-secundario;
      &::after {
        opacity: 1;
        background: $color-secundario;
      }
    }

    &::after {
      content: "";
      display: block;
      background: var(--negro);
      opacity: 0;
      height: 4px;
      max-width: 40px;
      border-radius: 10px;
      width: 100%;
      margin: 0 auto;
      margin-top: 5px;
      transition: all 0.3s ease-in-out;
    }
  }
}

.logo {
  height: 100px;
  width: 100px;
}

.nav {
  @include flex(column, center, center);
  margin: 0 auto;
  padding: 20px 0;
  background-color: #fffffff2;
  gap: 1rem;
}

.nav-opacidad-40 {
  background-color: #ffffff66;
}

.nav-opacidad-75 {
  background-color: #ffffffbf;
}
