.bloque-naranja {
  background-color: $color-terciario;
  margin: 350px auto 30px auto;
  padding-top: 1rem;
  @include flex(column, center, center);
  gap: 2rem;
}

.imagen-sobre-mi {
  height: 250px;
  width: 250px;
}

.titulo-sobre-mi {
  display: flex;
  flex-direction: column;
  text-align: center;

  h1 {
    background-color: $color-blanco;
    margin-bottom: 20px;
    padding: 15px;
  }

  p {
    background-color: $color-blanco;
    margin-bottom: 20px;
    padding: 15px;
  }
}

.caja-foto-sobre-mi {
  img {
    width: 300px;
    margin-top: 50px;
    border-radius: 25px;
  }
}

.contenedor-sobre-mi {
  display: grid;
  justify-items: center;
  align-items: center;
  place-content: center;
  max-width: 700px;
  margin: 100px auto;
  column-gap: 2em;
  width: 80%;

  div h2 {
    text-align: center;
    background-color: $color-terciario;
    padding: 20px;
    border-radius: 15px;
    margin: 30px auto;
  }
}
