.boton-tienda,
.boton {
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
  font-family: $fuente-primaria;
  text-transform: uppercase;
  background-color: $color-contraste;

  &:hover {
    background-color: $color-blanco;
    transition: all ease-in-out 0.5s;
  }

  a {
    text-decoration: none;
    color: #000;
  }
}

.boton-tienda {
  width: 100px;
  &:hover {
    background-color: $color-terciario;
  }
}
