.flex-frase {
  @include flex(column, center, center);
  column-gap: 1em;
  margin: 50px auto;
  padding: 40px;
  max-width: 300px;

  p {
    font-size: 1.2em;
    text-align: center;
    padding: 0 20px;
  }
}

.icono-1 {
  align-self: flex-start;
}

.icono-2 {
  align-self: flex-end;
}

@media (min-width: 768px) {
  .flex-frase {
    margin: 100px auto;
    max-width: 700px;

    p {
      font-size: 1.5em;
    }

    div i {
      font-size: 4em;
    }
  }

  .icono-1 {
    margin-right: 450px;
  }

  .icono-2 {
    margin-left: 450px;
  }
}
