.galeria {
  background-color: $color-cuaternario;
  display: flex;
  justify-content: center;
}

.galeria-box {
  margin: 2rem 1rem;

  img {
    height: auto;
    max-width: 100%;
    overflow: auto;
  }
}

.galeria-titulo {
  display: flex;
  justify-content: center;
  margin: 20px auto;

  h2 {
    background-color: $color-cuaternario;
    padding: 0.5em;
    border-radius: 35px;
    text-transform: uppercase;
  }
}

@media (min-width: 768px) {
  .galeria-titulo h2 {
    padding: 1em 1.7em;
  }
}
