* {
  margin: 0;
  padding: 0;
}

body {
  font-family: $fuente-primaria;
}

p {
  font-family: $fuente-secundaria;
  font-size: 1.2rem;
}

.interletrado {
  letter-spacing: 0.1em;
}

.flex {
  @include flex(row, center, center);
  margin: 0 auto;
}

.ocultar {
  display: none;
}

.celeste {
  background-color: $color-cuaternario !important;
}

.amarillo {
  background-color: $color-secundario !important;
}

@media (max-width: 768px) {
  .naranja {
    background-color: $color-terciario;
  }
}

img {
  width: 100%;
  border-radius: 15px;
}

.mt-100 {
  margin-top: 95px;
}

.pt-170 {
  padding-top: 170px;
}

.pt-150 {
  padding-top: 150px;
}
